<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style type="text/css">
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
  <h1>Welcome to Githood. This is your private admin interface.</h1>

  <h4>Your Repositories</h4>
  <% config.repos.forEach(function(repo) { %>
    <p>
      <input type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)"  <%= repo.shared ? 'checked' : '' %>/>
      <a href="repository/<%= repo.name %>"><%= hostname %>/<%= repo.name %></a>
    </p>
  <% }); %>

  <h4>The Neighborhood</h4>
  <% neighbors.forEach(function(neighbor) { %>
  <p><a href="http://<%= neighbor.host %>:<%= neighbor.port %>"><%= neighbor.name %></a> <%= neighbor.description %></p>
  <% }); %>
</body>
<script src="/javascripts/jquery-1.8.2.js"></script>
<script>
  function onChecked(checkbox) {
    jQuery.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
</html>
