<div class="row-fluid">
  <div class="span6">
    <h2>Your Neighborhood</h2>
    <div class="repos">
    <% Object.keys(repos).forEach(function(name) { var repo = repos[name] %>
      <div class="repo">
        <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watcherCount %></span>
        <h3><%= repo.name %> / <%= repo.repo %></h3>
        <h4>http://<%= repo.host %>:<%= repo.port %>/<%= repo.repo %></h4>
      </div>
    <% }); %>
    </div>
  </div>
  <div class="span6">
    <h2>Your Repositories</h2>
    <div class="repos">
      <% config.repos.forEach(function(repo) { %>
        <div class="repo">
          <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
          <h3><input title="check to share repo" type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)"  <%= repo.shared ? 'checked' : '' %>/>
          <a href="repository/<%= repo.name %>"><%= repo.name %></a></h3>
        </div>
      <% }); %>
    </div>
  </div>
</div>


<script>
  function onChecked(checkbox) {
    jQuery.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
