<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style type="text/css">
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
  <h1>Welcome to Githood. You're an owner.</h1>
  <h4>Would you like to share a repo?</h4>
  <% config.repos.forEach(function(repo) { %>
    <p><input type="checkbox" /> <%= repo.name %> : <%= repo.path %></p>
  <% }); %>
  <h4>The Neighborhood</h4>
  <% neighbors.forEach(function(neighbor) { %>
    <p><a href="http://<%= neighbor.host %>:<%= neighbor.port %>"><%= neighbor.name %></a></p>
  <% }); %>
</body>
</html>
