<div class="row-fluid">
  <div class="span6">
    <h2>Your Neighborhood</h2>
    <div class="repos">
    <% Object.keys(repos).forEach(function(key) { var repo = repos[key] %>
      <% console.log(repo) %>
      <div class="repo">
        <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watcherCount %></span>
        <h3><%= repo.serverDescription %> / <%= repo.name %></h3>
        <h4>http://<%= repo.serverAddress %>:<%= repo.serverPort %>/<%= repo.name %></h4>
      </div>
    <% }); %>
    </div>
  </div>
  <div class="span6">
    <h2>Your Repositories</h2>
    <div class="repos">
      <% config.repos.forEach(function(repo) { %>
        <div class="repo">
          <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
          <h3><input title="check to share repo" type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)"  <%= repo.shared ? 'checked' : '' %>/>
          <a href="repository/<%= repo.name %>"><%= repo.name %></a></h3>
        </div>
      <% }); %>
    </div>
    <a href="#addRepoModal" role="button" class="btn" data-toggle="modal" style="margin-top: 15px;">Add</a>
  </div>
</div>


<div id="addRepoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addRepoModalLabel" aria-hidden="true">
  <form id="addRepoForm" class="modal-form" data-async method="POST" action="/apiv1/create/">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="addRepoModalLabel">Add Repository</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="path">Path</label>
        <div class="controls">
          <input type="text" id="path" name="path" placeholder="Repository Path" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" name="name" placeholder="Repository Name (no spaces)" required pattern="^[\S]*$">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea id="description" name="description" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="language">Primary Language</label>
        <div class="controls">
          <input type="text" id="language" name="language"  placeholder="Language">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="shared" checked> Share Repository
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true" type="reset">Cancel</button>
      <button class="btn btn-primary">Add</button>
    </div>
  </form>
</div>


<script>
  function onChecked(checkbox) {
    $.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
