<h4>Your Repositories</h4>
<% config.repos.forEach(function(repo) { %>
  <p>
    <input type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)"  <%= repo.shared ? 'checked' : '' %>/>
    <a href="repository/<%= repo.name %>"><%= repo.name %></a>
  </p>
<% }); %>

<h4>Your Neighborhood</h4>
<% Object.keys(neighbors).forEach(function(neighborName) { var neighbor = neighbors[neighborName] %>
  <ul><a href="http://<%= neighbor.host %>:<%= neighbor.port %>"><%= neighbor.name %></a> - <%= neighbor.description %>
    <% neighbor.repositories.forEach(function(repo) { %>
      <li><%= repo.name %></li>
    <% }); %>
  </ul>
<% }); %>

<script>
  function onChecked(checkbox) {
    jQuery.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
