<h4><%= repo.name %></h4>
<dl>
  <dt>Watchers:</dt><dd><%= repo.watchers.length %><%= repo.watchers.length > 0 ? ': ' : '' %><%= repo.watchers.join(', ') %></dd>
  <dt>Description:</dt><dd><%= repo.description %></dd>
  <dt>Language:</dt><dd><%= repo.language %></dd>
</dl>
