<h4><%= hostname %> / <%= repo.name %> </h4>
<dl>
  <dt>Watchers:</dt><dd><%= repo.watchers.length %></dd>
  <dt>Description:</dt><dd><%= repo.description %></dd>
  <dt>Language:</dt><dd><%= repo.language %></dd>
</dl>
