<div class="row-fluid">
  <div class="span6">
    <h2>Your Neighborhood</h2>
    <div class="repos neighbors">
    <% Object.keys(repos).forEach(function(key) { var repo = repos[key] %>
      <div class="repo" id="<%= repo.serverAddress + ':' + repo.name %>">
        <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watcherCount %></span>
        <h3><%= repo.serverDescription %> / <%= repo.name %></h3>
        <h4><%= repo.description %></h4>
        <h4>
          <% var repoUrl = 'http://' + repo.serverAddress + ':' + repo.serverPort + '/' + repo.name; %>
          <span><%= repoUrl %></span>
          <span class="clippyWrapper" title="copy to clipboard"><span class="clippy"><%= repoUrl %></span></span>
        </h4>
      </div>
    <% }); %>
    </div>
  </div>
  <div class="span6">
    <h2>Your Repositories</h2>
    <div class="repos">
      <% config.repos.forEach(function(repo) { %>
        <div class="repo">
          <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
          <h3><span class="toggle"><input title="check to share repo" type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)" <%= repo.shared ? 'checked' : '' %>/></span>
          <a href="#repoModal" data-toggle="modal" onclick="setupRepoChange('<%= repo.name %>')" style="text-decoration: none""><%= repo.name %></a></h3>
          <h4><%= repo.description %></h4>
        </div>
      <% }); %>
    </div>
    <a href="#repoModal" role="button" class="btn" data-toggle="modal" style="margin-top: 15px; float: right" onclick="setupRepoAdd()">Add</a>
  </div>
</div>

<% include partials/repoModal %>

<script>
  $(document).ready(function()
  {
    $('.clippy').clippy({
      clippy_path: "/javascripts/clippy-jquery/clippy.swf"
    });
    $('.clippyWrapper').tooltip();

    $('.toggle').toggleButtons({
      height: 20,
      width: 60,
      font: { 'font-size': '11pt', 'font-weight': 'normal' },
      label: { enabled: "on", disabled: "off" }
    });
  });

  function onChecked(checkbox) {
    $.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
