<div class="row-fluid">
  <div class="span6">
    <h2>Your Neighborhood</h2>
    <div class="repos neighbors">
    <% Object.keys(repos).forEach(function(key) { var repo = repos[key] %>
      <div class="repo" id="<%= repo.serverAddress + ':' + repo.name %>">
        <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watcherCount %></span>
        <h3><%= repo.serverDescription %> / <%= repo.name %></h3>
        <h4><%= repo.description %></h4>
        <h4>http://<%= repo.serverAddress %>:<%= repo.serverPort %>/<%= repo.name %></h4>
      </div>
    <% }); %>
    </div>
  </div>
  <div class="span6">
    <h2>Your Repositories</h2>
    <div class="repos">
      <% config.repos.forEach(function(repo) { %>
        <div class="repo">
          <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
          <h3><span class="toggle"><input title="check to share repo" type="checkbox" name="<%= repo.name %>" onchange="onChecked(this)" <%= repo.shared ? 'checked' : '' %>/></span>
          <a href="#repoModal" data-toggle="modal" onclick="setupRepoChange('<%= repo.name %>')" style="text-decoration: none""><%= repo.name %></a></h3>
          <h4><%= repo.description %></h4>
        </div>
      <% }); %>
    </div>
    <a href="#repoModal" role="button" class="btn" data-toggle="modal" style="margin-top: 15px; float: right" onclick="setupRepoAdd()">Add</a>
  </div>
</div>

<% include partials/repoModal %>

<script>
  function onChecked(checkbox) {
    $.post('/apiv1/repo/shared', {
      name: checkbox.name,
      shared: checkbox.checked
    });
  }
</script>
