<h2>Shared Repositories / <%= description %></h2>

<div class="repos">
<% sharedRepos.forEach(function(repo) { %>
  <div class="repo">
    <span class="details"><%= repo.language %>&nbsp;&nbsp;&nbsp;&nbsp; ★ <%= repo.watchers.length %></span>
    <h3>http://<%= host %>:<%= port %>/<%= repo.name %></h3>
    <h4><%= repo.description %></h4>
  </div>
<% }); %>
</div>
